* {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
}


/* *********************************************** ESTILOS HEADER *************************************************** */

.navbar-brand {
    font-size: 2em;
    text-decoration: none;
    color: inherit;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    width: 90%;
    margin: auto;
    height: 5em;

}

.cabecera ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
    align-items: center;
}

.cabecera li a {
    text-decoration: none;
    color: inherit;
}

.contenedor-carrito-contador {
    background-color: #BDFF00;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.5em;
    color: #333333;
}

/* ****************************************************************************************************************** */

/* ********************************************** ESTILOS BUSCADOR ************************************************** */

.form-buscador {
    display: flex;
    align-items: center;
    gap: 1em;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    background-color: grey;
    font-size: 1.2em;
}

.buscadorHome {
    background-color: rgb(0, 0, 0, 0%);
}

.boton-buscar {
    background-color: #BDFF00;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    transition-duration: 1s;
}

.boton-buscar:hover {
    cursor: pointer;
    transform: scale(120%);
    transition-duration: 1s;
}

.lupa {
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 1.4em;
}

.lupa:hover {
    cursor: pointer;
}

.buscador img {
    display: block;
}

.buscador input {
    font-family: inherit;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
    width: 30em;
}

/* ****************************************************************************************************************** */

/* ********************************************* ESTILOS VISTA HOME ************************************************* */

.heroHome {
    background-image: url("../img/hero-home.jpg");
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 210vh;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 50%);
    color: white;
    width: 100%;
    padding: 2em;
    gap: 1em;
}

.container p {
    font-size: 2.5em;
    width: 50%;
    text-align: center;
}

.categoriasContenedor {
    background-color: lightgray;
    border-radius: 1em;
    padding: 2em 1em 2em 1em;
    width: fit-content;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.carousel-container {
    overflow: hidden;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.carousel-item a {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    width: 10em;
    height: 10em;
    gap: 1em;
    text-decoration: none;
    color: inherit;
    padding: 1em;

}

.carousel-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2em;
    color: #333;
}

.carousel-item p {
    font-size: 1.2em;
}

.contenedorFlechas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.categoriasContenedor h2 {
    font-size: 1.4em;
    padding-left: 1.5em;
}

.icono {
    width: 4em;
    height: 4em;
}

.icono-categoria {
    width: 2em;
    height: 2em;
}


.frase {
    background-color: #99CE00;
    height: 20vh;
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4em 0 2em 0;
    padding: 2em;
    position: relative;
}

.frase p {
    width: 40%;
    margin-top: 2em;
}

.peso {
    background-color: white;
    border: 10px solid #BDFF00;
    border-radius: 50%;
    color: #BDFF00;
    font-size: 3em;
    display: block;
    padding: 0.2em;
    width: 111px;
    position: absolute;
    bottom: 2.3em;
}

.supermercado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
    margin-bottom: 3em;
}

.contenedorSupermercado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.contenedorSupermercado a {
    text-decoration: none;
    color: inherit;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ****************************************************************************************************************** */

/* ******************************************* ESTILOS VISTA CATEGORIA ********************************************** */

.hero {
    /*background-image: url("../img/hero-categoria.jpg");*/
    background-color: darkslategrey;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 210vh;
    background-position: center;
}

.hero div {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: rgb(255, 255, 255, 90%);
    width: 100%;
    padding: 0.5em;
}

.productosDestacados {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.filaProducto {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.contenedorProducto a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    gap: 2em;
    border: 2px solid #333333;
    border-radius: 1em;
    text-decoration: none;
    color: inherit;
}

.productosDestacados a {
    text-decoration: none;
    color: inherit;
}

.contenedorMarca a {
    height: 5em;
}

/* ****************************************************************************************************************** */

/* ******************************************* ESTILOS PRODUCTO BUSCADO ********************************************* */

.tituloProductoBuscado {
    padding-left: 100px;
}

.containerProductoBuscado {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.filter-column {
    flex: 1;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #B1B1B1;
    border-radius: 8px;
}

.product-column {
    flex: 5;
    padding-left: 20px;
}

.product-card {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
    padding: 10px;
}

.product-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
    margin-right: 20px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
}

.product-image img {
    width: 150px;
    height: auto;
    border-radius: 12px 0 0 12px; /* Bordes redondeados solo en la esquina superior izquierda */
}

.product-info {
    flex: 1;
}

.product-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.store-info {
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    font-size: 18px;
}

.store-name, .store-location {
    font-size: 14px;
}

.store-name, .store-location, .product-price {
    margin-bottom: 5px;
    color: #666;
}

.store-logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.compare-button {
    background-color: #ffc107;
}

.add-button {
    background-color: #198754;
}

.compare-button, .add-button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: bold;
}

.compare-button:hover {
    background-color: #DEA90C;
}

.add-button:hover {
    background-color: #156C43;
}

.filter-section {
    margin-bottom: 20px;
    padding: 10px;
}

.filter-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.filter-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    color: #fff;
}

/* Estilos para los checkboxes */
input[type="checkbox"] {
    margin-right: 5px;
}

/* ******************************************* ESTILOS FOOTER ********************************************* */

.footer {
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: whitesmoke;
}

/* ********************************************** ESTILOS CARRITO DE COMPRAS **************************************** */

.carrito-container {
    margin: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carrito-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.carrito-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.carrito-table th, .carrito-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.carrito-table th {
    background-color: #f2f2f2;
    font-size: 18px;
}

.carrito-table td {
    font-size: 16px;
}

.carrito-table button {
    background-color: #007bff; /* Color de fondo */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.carrito-table button:hover {
    background-color: #0056b3;
}

#total-final {
    font-size: 20px;
    font-weight: bold;
}

#total-final a {
    color: #007bff;
    text-decoration: none;
}

#total-final a:hover {
    text-decoration: underline;
}
/* ******************************************* ESTILOS VISTA SUPERMERCADOS ********************************************* */

.vistaSupermercados{
    width: 60%;
}

.vistaSupermercados h2 {
    margin: 1em 0em 1em 0em;
    text-transform: uppercase;
}

#map {
    height: 60vh;
    border-radius: 1em;
    box-shadow: 0em 0em 2em #333333;
}

.vistaSupermercados form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: grey;
    width: fit-content;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 1em;
}

.boton-direccion{
    background-color: royalblue;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
}


.boton-direccion:hover {
    cursor: pointer;
    background-color: darkslateblue;

}

.vistaSupermercados input {
    font-family: inherit;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
    width: 30em;
}

.contenedorVistaSupermercados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedorFlechas-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.contenedorFlechas-vertical button{
    transform: rotate(90deg);
}

.carousel-container-vertical {
    background-color: lightgray;
    border-radius: 1em;
    padding: 2em 1em 2em 1em;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0em 0em 1em #333333;
}

.carousel-item-vertical{
    background-color: white;
    border-radius: 1em;
    width: 25rem;
    gap: 1em;
    padding: 1em;
}

.carousel-item-vertical:hover{
    background-color: grey;
    color: whitesmoke;
}