* {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
}


/* *********************************************** ESTILOS HEADER *************************************************** */

.navbar-brand {
    font-size: 2em;
    text-decoration: none;
    color: inherit;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    width: 90%;
    margin: auto;
    height: 5em;

}

.cabecera ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
}

.cabecera li a {
    text-decoration: none;
    color: inherit;
}

/* ****************************************************************************************************************** */

/* ********************************************** ESTILOS BUSCADOR ************************************************** */

.form-buscador {
    display: flex;
    align-items: center;
    gap: 1em;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    background-color: grey;
    font-size: 1.2em;
}

.buscadorHome {
    background-color: rgb(0, 0, 0, 0%);
}

.buscador button {
    background-color: #BDFF00;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    transition-duration: 1s;
}

.buscador button:hover {
    cursor: pointer;
    transform: scale(120%);
    transition-duration: 1s;
}

.buscador img {
    display: block;
}

.buscador input {
    font-family: inherit;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
    width: 30em;
}

/* ****************************************************************************************************************** */

/* ********************************************* ESTILOS VISTA HOME ************************************************* */

.heroHome {
    background-color: darkslategrey;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 50%);
    color: white;
    width: 100%;
    padding: 2em;
    gap: 1em;
}

.container p {
    font-size: 2.5em;
    width: 50%;
    text-align: center;
}

.categoriasContenedor {
    background-color: lightgray;
    border-radius: 1em;
    padding: 2em 1em 2em 1em;
    width: 70em;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contenedorFlechas{
    display: flex;
}

.categoriasContenedor h2 {
    font-size: 1.4em;
    padding-left: 1.5em;
}

.categoriasContenedor div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
}

.categorias {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
}

.filaCategoria {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.contenedorCategoria a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    width: 10em;
    height: 10em;
    gap: 2em;
    text-decoration: none;
    color: inherit;
}

.frase{
    background-color: #99CE00;
    height: 20vh;
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4em 0 2em 0;
    padding: 2em;
    position:relative;
}

.frase p{
    width: 40%;
    margin-top: 2em;
}

.peso{
    background-color: white;
    border: 10px solid #BDFF00;
    border-radius: 50%;
    color: #BDFF00;
    font-size: 3em;
    display: block;
    padding: 0.2em;
    width: 111px;
    position: absolute;
    bottom: 2.3em;
}

.supermercado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
    margin-bottom: 3em;
}

.contenedorSupermercado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.contenedorSupermercado a{
    text-decoration: none;
    color: inherit;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ****************************************************************************************************************** */

/* ******************************************* ESTILOS VISTA CATEGORIA ********************************************** */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    /*background-image: url('../Images/hero.jpg');*/
    height: 40vh;
}

.hero div {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: rgb(255, 255, 255, 90%);
    width: 100%;
    padding: 0.5em;
}

.productosDestacados {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.filaProducto {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.contenedorProducto a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    gap: 2em;
    border: 2px solid #333333;
    border-radius: 1em;
    text-decoration: none;
    color: inherit;
}

.productosDestacados a {
    text-decoration: none;
    color: inherit;
}

.contenedorMarca a {
    height: 5em;
}

/* ****************************************************************************************************************** */

/* ******************************************* ESTILOS PRODUCTO BUSCADO ********************************************* */

.containerProductoBuscado {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.filter-column,
.product-column {
    flex: 1;
}

.filter-column {
    padding-right: 20px;
}

.product-column {
    padding-left: 20px;
}

.product-card {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.product-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
    margin-right: 20px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
}

.product-image img {
    width: 150px;
    height: auto;
    border-radius: 12px 0 0 12px; /* Bordes redondeados solo en la esquina superior izquierda */
}

.product-info {
    flex: 1;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.store-info {
    margin-bottom: 10px;
}

.store-name, .store-location, .product-price {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.store-logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.compare-button, .add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
}

.compare-button:hover, .add-button:hover {
    background-color: #0056b3;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.filter-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

/* Estilos para los checkboxes */
input[type="checkbox"] {
    margin-right: 5px;
}

