* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input:focus,
select:focus,
input:focus-visible {
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}

body {
    background: white;
}

a {
    text-decoration: none;
}

.login {
    height: 100vh;
}

.divForm {
    background: #99ce00;
    border-radius: 10px;
}

.signIn input {
    border: gray solid 2px !important;
}

.signIn div select {
    border: gray solid 2px !important;
}

.signIn input:focus, .signIn select:focus {
    background: whitesmoke !important;
    border: whitesmoke solid 2px !important;
}

.signIn input:hover, .signIn select:hover {
    border: white solid 2px !important;
}

.btnLogin {
    background: white;
    color: black;
    border: none;
}

.btnLogin:hover,
.btnLogin:active,
.btnLogin:focus-visible {
    background: gray !important;
    color: #99ce00 !important;
    border: none !important;
    box-shadow: none !important;
}

.linkRegistrar {
    color: black;
}

.linkRegistrar:hover,
.linkRegistrar:focus-visible {
    color: gray;
    border: none !important;
}

