<!--
<form action="/productoBuscado.html"  th:action="@{/productoBuscado}" method="get" class="form-buscador">
    <button type="submit" class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" name="buscador" required autocomplete="off" placeholder="Producto">
    <button type="submit" class="boton-buscar">BUSCAR</button>
</form>
-->

<form action="/productoBuscado.html"  th:action="@{/productoBuscado}" method="get" class="form-buscador" id="nombreAbuscar">
    <button type="submit" class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" name="productoAbuscar" required autocomplete="off" placeholder="Producto" >
    <button type="submit" class="boton-buscar">BUSCAR</button>
</form>