<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" type="text/css" href="/spring/css/main.css">
</head>
<body>
<header th:include="header.html" class="cabecera"></header>

<div class="carrito-container">
    <h1 class="carrito-title">Tu Carrito de Compras</h1>
    <div class="cantidad-productos">
        <p class="cantidad-texto" th:text="'Cantidad de productos en el carrito: ' + ${cantidadProductos}">Cantidad de productos en el carrito: 0</p>
    </div>
    <table class="carrito-table">
        <thead>
        <tr>
            <th>Foto</th> <!-- columna de la foto, actualmente vacía -->
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Precio producto total</th>
            <th>Categoría</th>
            <th>Subcategoría</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto, row : ${carrito}">
            <td><!-- Columna vacía para futura imagen --></td>
            <td th:text="${producto.nombre}">Nombre del Producto</td>
            <td>
                <span id="precio-unitario-[[${producto.idProducto}]]" class="precio-unitario" th:text="${producto.precio}">Precio</span>
            </td>
            <td>
                <input type="number" min="1" id="cantidad-[[${producto.idProducto}]]" value="1" onchange="actualizarPrecio('[[${producto.idProducto}]]')">
                <button type="button" onclick="decrementarCantidad('[[${producto.idProducto}]]')">-</button>
                <button type="button" onclick="incrementarCantidad('[[${producto.idProducto}]]')">+</button>
            </td>
            <td>
                <span id="precio-total-[[${producto.idProducto}]]" class="precio-total" th:text="${producto.precio * 1}">Precio Total</span>
            </td>
            <td th:text="${producto.categoria}">Categoría</td>
            <td th:text="${producto.subcategoria}">Subcategoría</td>
            <td>
                <form action="/eliminar-del-carrito" method="post">
                    <input type="hidden" name="codigoBarras" th:value="${producto.codigoBarras}">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6"></td>
            <td style="text-align: right;">Total:</td>
            <td id="total-final" colspan="2">0.00</td>
        </tr>
        </tfoot>
    </table>
</div>

<footer th:include="footer.html"></footer>

<script type="text/javascript" src="/spring/js/main.js"></script>
<script>
    function formatCurrency(value) {
        return value.toFixed(2);
    }

    function actualizarPrecio(index) {
        var inputCantidad = document.getElementById('cantidad-' + index);
        var cantidad = parseInt(inputCantidad.value);
        var precioUnitarioElemento = document.getElementById('precio-unitario-' + index);
        var precioUnitario = parseFloat(precioUnitarioElemento.innerText);
        var precioTotal = cantidad * precioUnitario;
        var precioTotalElemento = document.getElementById('precio-total-' + index);
        if (precioTotalElemento) {
            precioTotalElemento.innerText = formatCurrency(precioTotal);
            actualizarTotal();
        } else {
            console.error('Elemento de precio total no encontrado para el índice:', index);
        }
    }

    function incrementarCantidad(index) {
        var inputCantidad = document.getElementById('cantidad-' + index);
        var cantidad = parseInt(inputCantidad.value);
        cantidad++;
        inputCantidad.value = cantidad;
        actualizarPrecio(index);
    }

    function decrementarCantidad(index) {
        var inputCantidad = document.getElementById('cantidad-' + index);
        var cantidad = parseInt(inputCantidad.value);
        if (cantidad > 1) {
            cantidad--;
            inputCantidad.value = cantidad;
            actualizarPrecio(index);
        }
    }

    function actualizarTotal() {
        var total = 0;
        var precios = document.querySelectorAll('td span[id^="precio-total-"]');
        precios.forEach(function(precioElemento) {
            var precio = parseFloat(precioElemento.innerText.replace(/[^\d.-]/g, '')); // Eliminar cualquier carácter que no sea número, punto o signo menos
            total += isNaN(precio) ? 0 : precio; // Si el precio no es un número válido, añadir 0
        });
        document.getElementById('total-final').innerText = formatCurrency(total);
    }
</script>
</body>
</html>
