<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Categoría</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div th:include="header.html"></div>
<section class="buscador">
    <img src="" alt="Lupa">
    <form action="resultadoDeBusqueda.html" method="post" class="form-buscador">
        <input type="text" name="buscador" required autocomplete="off" placeholder="Producto">
        <button type="submit">BUSCAR</button>
    </form>
</section>

<section class="hero">
    <div>
        <img src="" alt="Icono">
        <h2>Categoría</h2>
    </div>
</section>

<section class="productosDestacados">
    <h2>Productos destacados</h2>
    <div class="filaProducto">
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 1</p></a>
        </div>
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 2</p></a>
        </div>
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 3</p></a>
        </div>
    </div>
    <div class="filaProducto">
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 1</p></a>
        </div>
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 1</p></a>
        </div>
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 1</p></a>
        </div>
    </div>
    <div class="filaProducto">
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 7</p></a>
        </div>
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 8</p></a>
        </div>
        <div class="contenedorProducto">
            <a href="#"><img src="" alt="Imagen del producto">
                <p>Producto 9</p></a>
        </div>
    </div>
    <a href="#"><img src="" alt="Flecha hacia abajo"></a>
</section>

<section class="mejoresMarcas productosDestacados">
    <h2>Las mejores marcas</h2>
    <div class="filaMarca filaProducto">
        <div class="contenedorMarca contenedorProducto">
            <a href="#"><img src="" alt="Imagen de la marca">
                <p>Marca 1</p></a>
        </div>
        <div class="contenedorMarca contenedorProducto">
            <a href="#"><img src="" alt="Imagen de la marca">
                <p>Marca 2</p></a>
        </div>
        <div class="contenedorMarca contenedorProducto">
            <a href="#"><img src="" alt="Imagen de la marca">
                <p>Marca 3</p></a>
        </div>
    </div>
    <div class="filaMarca filaProducto">
        <div class="contenedorMarca contenedorProducto">
            <a href="#"><img src="" alt="Imagen de la marca">
                <p>Marca 4</p></a>
        </div>
        <div class="contenedorMarca contenedorProducto">
            <a href="#"><img src="" alt="Imagen de la marca">
                <p>Marca 5</p></a>
        </div>
        <div class="contenedorMarca contenedorProducto">
            <a href="#"><img src="" alt="Imagen de la marca">
                <p>Marca 6</p></a>
        </div>
    </div>
    <a href="#"><img src="" alt="Flecha hacia abajo"></a>
</section>
<footer></footer>
</body>
</html>