<nav class="logo">
    <a class="navbar-brand" href="index.html">TU CHANGUITO</a>
</nav>
<nav>
    <ul>
        <li><a href="supermercado.html">Supermercados</a></li>
        <li><a href="ofertas.html">Ofertas</a></li>
        <li><a href="categoria.html"> Categorias</a></li>
        <li><a href="miCuenta.html">Mi cuenta</a></li>
    </ul>
    <div class="contenedor-carrito-contador">
        <a href="carrito.html" id="carrito">
            <span class="icon-carrito_de_compras_negro"></span>
            <p class="contadorCarrito" id="contadorCarrito"></p>
        </a>
    </div>
    <a href="login.html" id="login-usuario"><span class="icon-usuario"></span></a>
</nav>