<nav class="logo">
    <a class="navbar-brand" href="home.html">TU CHANGUITO</a>
</nav>
<nav>
    <ul>
        <li><a href="supermercados.html">Supermercados</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#"> Categorias</a></li>
        <li><a href="#">Mi cuenta</a></li>
        <li>
            <div class="contenedor-carrito-contador">
                <a href="#" id="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p class="contadorCarrito" id="contadorCarrito"></p>
                </a>
            </div>
        </li>
    </ul>
    <a href="#" id="login-usuario"><span class="icon-usuario"></span></a>
</nav>