<nav class="logo">
    <a class="navbar-brand" href="home.html">TU CHANGUITO</a>
</nav>
<nav>
    <ul>
        <li><a href="supermercados.html">Supermercados</a></li>
<!--        <li><a href="#">Ofertas</a></li>-->

<!--        <li><a href="#"> Categorías</a></li>-->
        <li><a  th:href="@{/mi-cuenta}">Mi cuenta</a></li>

        <li>
            <div class="contenedor-carrito-contador">
                <a href="carritoCompras.html" id="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </li>
    </ul>
    <a href="#" id="login-usuario"><span class="icon-usuario"></span></a>
</nav>