<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Changuito</title>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header th:include="header.html" class="cabecera"></header>
<main>
    <div class="heroHome">
        <div class="container">
            <p> Compará el precio del mismo producto en diferentes supermercados</p>
            <section th:include="buscador.html" class="buscador buscadorHome"></section>
        </div>
    </div>
    <section class="categoriasContenedor">
        <h2>Categorías</h2>
        <div class="contenedorFlechas">
            <button class="carousel-btn prev" onclick="moveSlide(-1)">&#10094; Anterior</button>
            <div class="carousel-container">
                <div class="carousel-item" th:each="categoria : ${categorias}">
                    <a th:href="@{/categoria(categoria=${categoria})}">
                        <img th:src="${iconos[__${categoria}__]}" alt="" class="icono">
                        <p th:text="${categoria}"></p>
                    </a>
                </div>

            </div>
            <button class="carousel-btn next" onclick="moveSlide(1)">Siguiente &#10095;</button>
        </div>
    </section>
    <script>
        let slideIndex = 0;
        const slides = document.querySelectorAll('.carousel-item');
        const totalSlides = slides.length;

        // Deshabilita o habilita el botón "Anterior" según corresponda
        document.querySelector('.prev').disabled = slideIndex <= 0;

        function moveSlide(n) {
            slideIndex += n * 4;
            showSlides();

            // Deshabilita o habilita el botón "Anterior" según corresponda
            document.querySelector('.prev').disabled = slideIndex <= 0;

            // Deshabilita o habilita el botón "Siguiente" según corresponda
            document.querySelector('.next').disabled = slideIndex >= totalSlides - 4;
        }

        function showSlides() {
            let startIndex = Math.max(0, slideIndex);
            let endIndex = Math.min(totalSlides, startIndex + 4);
            for (let i = 0; i < totalSlides; i++) {
                if (i >= startIndex && i < endIndex) {
                    slides[i].style.display = 'inline-block';
                } else {
                    slides[i].style.display = 'none';
                }
            }
        }

        showSlides();

    </script>
    <section class="frase">
        <div class="peso"><img src="" alt="$"></div>
        <p>Analizamos diariamente los precios de los supermercados más grandes de Argentina para traerte los precios más
            baratos del mercado.</p>
    </section>
    <section class="supermercado">
        <h2>Supermercados relevados</h2>
        <div class="contenedorSupermercado">
            <a href=""><img src="" alt="Supermercado 1"></a>
            <a href=""><img src="" alt="Supermercado 2"></a>
            <a href=""><img src="" alt="Supermercado 3"></a>
            <a href=""><img src="" alt="Supermercado 4"></a>
        </div>
    </section>
</main>

</body>
</html>