<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Changuito</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header th:include="header.html" class="cabecera"></header>
<!--<form action="/productoBuscado.html"  th:action="@{/productoBuscado}" th:object="${producto}" method="get" class="form-buscador">-->

<!--    <button type="submit" class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>-->
<!--    <input  th:field="*{nombre}" type="text" name="buscador" required autocomplete="off" placeholder="Producto">-->
<!--    <button type="submit" class="boton-buscar">BUSCAR</button>-->
<!--</form>-->
<main>
    <div class="heroHome">
        <div class="container">
            <p> Compará el precio del mismo producto en diferentes supermercados</p>
            <section th:include="buscador.html" class="buscador buscadorHome"></section>
        </div>
    </div>
    <section class="categoriasContenedor">
        <h2>Categorías</h2>
        <div class="contenedorFlechas">
            <button class="carousel-btn prev" onclick="moveSlide(-1)">&#10094;</button>
            <div class="carousel-container">
                <div class="carousel-item" th:each="categoria : ${categorias}">
                    <a th:href="@{/categoria(categoria=${categoria})}">
                        <img th:src="${iconos[__${categoria}__]}" alt="" class="icono">
                        <p th:text="${categoria}"></p>
                    </a>
                </div>

            </div>
            <button class="carousel-btn next" onclick="moveSlide(1)">&#10095;</button>
        </div>
    </section>
    <section class="frase">
        <div class="peso"><img src="" alt="$"></div>
        <p>Analizamos diariamente los precios de los supermercados más grandes de Argentina para traerte los precios más
            baratos del mercado.</p>
    </section>
    <section class="supermercado">
        <h2>Supermercados relevados</h2>
        <div class="contenedorSupermercado">
            <a href=""><img src="" alt="Supermercado 1"></a>
            <a href=""><img src="" alt="Supermercado 2"></a>
            <a href=""><img src="" alt="Supermercado 3"></a>
            <a href=""><img src="" alt="Supermercado 4"></a>
        </div>
    </section>
</main>
<script th:src="@{/js/main.js}"></script>
<footer th:include="footer.html"></footer>
</body>
</html>