<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tu changuito</title>

      <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<header class="cabecera">
    <nav class="logo">
        <a class="navbar-brand" href="index.html">Tu Changuito</a>
    </nav>
<nav>
    <ul>
        <li><a href="supermercado.html">Supermercados</a></li>
        <li><a href="ofertas.html">Ofertas</a></li>
        <li><a href="categoria.html"> Categorias</a></li>
        <li><a href="miCuenta.html">Mi cuenta</a></li>
    </ul>
</nav>
    <div class="contenedor-carrito-contador">
        <a href="carrito.html" id="carrito">
            <span class="icon-carrito_de_compras_negro"></span>
            <p class="contadorCarrito" id="contadorCarrito"></p>
        </a>
    </div>
    <a href="login.html" id="login-usuario"
    ><span class="icon-usuario"></span
    ></a>
</header>


<main role="main" class="container">

    <div class = "container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                <h3 class="form-signin-heading">Taller Web I</h3>
                <hr class="colorgraph"><br>

                <input th:field="*{email}" id="email" type="email" class="form-control" required/>
                <input th:field="*{password}" type="password" id="password" class="form-control" required/>

                <button id="btn-login" class="btn btn-lg btn-primary btn-block" Type="Submit">Login</button>

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>
            <a id="ir-a-registrarme" href="nuevo-usuario">Registrarme</a>
        </div>
    </div>
</main>
<!-- /.container -->


</body>
</html>