<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Productos Comparados</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<header th:include="header.html" class="cabecera"></header>
<!--<section th:include="buscador.html" class="buscador"></section>-->
<section th:include="buscador.html" class="buscador"></section>
<br>
<div class="contenedor_producto_seleccionado" th:if="${elegido != null}">
<div class="contenedor_producto_columnas" th:object="${elegido}">
    <div class="columna_izquierda_producto">
        <img th:src="${elegido.producto.urlImagen}" alt="Imagen del producto" class="product-image-producto-seleccionado">
    </div>
    <div class="columna_derecha_producto">
        <h1 class="product-title-producto-seleccionado" th:text="${elegido.producto.nombre}"></h1>
        <ul class="product-features-producto-seleccionado">
            <li th:text=" ${elegido.producto.categoria}">Tipo de producto </li>
            <li th:text="${elegido.producto.subcategoria}">subcategoria:</li>
            <li th:text="${elegido.producto.marca.nombre}">Marca</li>
            <li>Origen: Argentina</li>
        </ul>
        <div class="store-info-producto-seleccionado">
            <img   alt="Logo del supermercado" class="store-logo-producto-seleccionado"  th:src="${elegido.supermercado.logo}"
                   th:alt="${elegido.supermercado.nombre}" >
            <p class="store-location-producto-seleccionado" th:text="${elegido.supermercado.ubicacion}">Ubicación del supermercado</p>
        </div>
        <div class="product-price-producto-seleccionado" th:text=" '$'+${elegido.precio}">Precio regular: </div>
        <div class="boton-conteiner"><button class="add-to-cart-btn-producto-seleccionado"  th:href="@{/agregarAlCarrito(idProducto=${elegido.getProducto().getIdProducto()},idSupemercado=${elegido.getSupermercado().getIdSupermercado()})}">Agregar</button></div>

    </div>
    <br>
</div>
</div>
<div class="contenedor-cards">
    <div class="card-producto"  th:each="superProducto: ${productos}" th:if="${productos != null}">
        <img th:src="${superProducto.producto.urlImagen}" th:alt="${superProducto.producto.nombre}" class="imagen-producto-card">
        <h3 class="nombre-producto-card" th:text="${superProducto.producto.nombre}"></h3>
        <p class="precio-producto-card" th:text="'$'+ ${superProducto.precio}"></p>
        <img th:src="${superProducto.supermercado.logo}" th:alt="${superProducto.supermercado.nombre}" class="store-logo-card">
        <button class="boton-agregar-card" th:href="@{/agregarAlCarrito(idProducto=${superProducto.getProducto().getIdProducto()},idSupemercado=${superProducto.getSupermercado().getIdSupermercado()})}">Agregar</button>
    </div>

</div>
<hr class="divisoria" th:include="resenia.html">



<br>
<footer th:include="footer.html"></footer>
</body>
</html>