<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Producto Buscado</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    updateUrlParams(); // Actualizar la URL con los parámetros seleccionados
                });
            });

            // Verificar los parámetros en la URL y marcar las casillas de verificación correspondientes
            const urlParams = new URLSearchParams(window.location.search);
            checkboxes.forEach(function (checkbox) {
                if (urlParams.has(checkbox.name)) {
                    checkbox.checked = urlParams.get(checkbox.name).split(',').includes(checkbox.value);
                }
            });
        });

        function updateUrlParams() {
            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);

            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    if (!params.has(checkbox.name)) {
                        params.append(checkbox.name, checkbox.value);
                    } else {
                        const existingValues = params.get(checkbox.name).split(',');
                        if (!existingValues.includes(checkbox.value)) {
                            existingValues.push(checkbox.value);
                            params.set(checkbox.name, existingValues.join(','));
                        }
                    }
                } else {
                    if (params.has(checkbox.name)) {
                        const existingValues = params.get(checkbox.name).split(',');
                        const index = existingValues.indexOf(checkbox.value);
                        if (index !== -1) {
                            existingValues.splice(index, 1);
                            if (existingValues.length > 0) {
                                params.set(checkbox.name, existingValues.join(','));
                            } else {
                                params.delete(checkbox.name);
                            }
                        }
                    }
                }
            });

            window.location.href = `${url.pathname}?${params.toString()}`; // Cambio a window.location.href para redirigir
        }
    </script>
</head>
<body>
<header th:include="header.html" class="cabecera"></header>
<section th:include="buscador.html" class="buscador"></section>
<br>
<div class="tituloProductoBuscado">
    <h2 th:if="${error == null}"
        th:text="'Productos de la categoría ' + ${categoria} + ' y subcategoría ' + ${subcategoria}"></h2>
</div>
<br>
<div class="containerProductoBuscado">
    <form id="filtro" th:action="@{/filtrar}" th:method="get">
        <div class="filter-column">
            <div class="filter-section">
                <h2>Tipo</h2>
                <label><input type="checkbox" name="tipo" value="Tipo1">Tipo 1</label>
                <label><input type="checkbox" name="tipo" value="Tipo2">Tipo 2</label>
                <label><input type="checkbox" name="tipo" value="Tipo3">Tipo 3</label>
            </div>
            <div class="filter-section">
                <h2>Ubicación</h2>
                <label><input type="checkbox" name="ubicacion" value="Ubicacion1">Ubicación 1</label>
                <label><input type="checkbox" name="ubicacion" value="Ubicacion2">Ubicación 2</label>
                <label><input type="checkbox" name="ubicacion" value="Ubicacion3">Ubicación 3</label>
            </div>
            <div class="filter-section">
                <h2>Descuento</h2>
                <label><input type="checkbox" name="descuento" value="0.95">Descuento del 5%</label>
                <label><input type="checkbox" name="descuento" value="0.9">Descuento del 10%</label>
                <label><input type="checkbox" name="descuento" value="0.85">Descuento del 25%</label>
            </div>
            <div class="filter-section">
                <h2>Marca</h2>
                <label><input type="checkbox" name="marca" value="marca1">Marca 1</label>
                <label><input type="checkbox" name="marca" value="marca2">Marca 2</label>
                <label><input type="checkbox" name="marca" value="marca3">Marca 3</label>
            </div>
            <div class="filter-section">
                <h2>Supermercado</h2>
                <label><input type="checkbox" name="supermercado" value="supermercado1">Supermercado 1</label>
                <label><input type="checkbox" name="supermercado" value="supermercado1">Supermercado 2</label>
                <label><input type="checkbox" name="supermercado" value="supermercado1">Supermercado 3</label>
            </div>
            <div class="filter-section">
                <h2>Precio</h2>
                <label><input type="checkbox" name="precio" value="menor_a_1000">Hasta $1.000</label>
                <label><input type="checkbox" name="precio" value="entre_1000_y_3000">$1.000 a $3.000</label>
                <label><input type="checkbox" name="precio" value="mas_de_3000">Más de $3.000</label>
            </div>
        </div>
    </form>
    <div class="product-column">
        <div class="product-card" th:each="producto : ${productos}">
            <div class="product-image">
                <img th:src="${producto.urlImagen}" alt="Imagen del Producto">
            </div>
            <div class="product-info">
                <div class="product-name" th:text="${producto.nombre}"></div>
                <div class="store-info">
                    <div class="store-name">Carrefour</div>
                    <div class="store-location">Av. Juan Bautista Alberdi 5494, Cdad. Autónoma de Buenos Aires</div>
                    <div class="product-price">
                        <span class="product-price-center" th:if="${producto.descuento != null}">
                            <span class="tachado" th:text="'$' + ${producto.precio}"></span>
                            <span class="descuento" th:text="'$' + ${producto.descuento}"></span>
                         </span>
                        <span th:if="${producto.descuento == null}" th:text="'$' + ${producto.precio}"></span>
                    </div>
                    <div class="store-logo">
                        <img src="https://argentinaahorra.com/_next/image?url=%2Fcarrefour_logo.svg&w=320&q=75"
                             alt="Logo del Supermercado">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="compare-button">Comparar</button>
                <form th:action="@{/agregarAlCarrito}" method="post">
                    <input type="hidden" name="nombre" th:value="${producto.nombre}"/>
                    <input type="hidden" name="precio" th:value="${producto.precio}"/>
                    <input type="hidden" name="codigoBarras" th:value="${producto.codigoBarras}"/>
                    <input type="hidden" name="categoria" th:value="${producto.categoria}"/>
                    <input type="hidden" name="subcategoria" th:value="${producto.subcategoria}"/>
                    <!-- Agrega el campo para urlImagen -->
                    <input type="hidden" name="urlImagen" th:value="${producto.urlImagen}"/>
                    <button type="submit" class="add-button">Agregar</button>
                </form>
            </div>
        </div>
        <p th:if="${error != null}" th:text="${error}"></p>
    </div>
</div>
<footer th:include="footer.html"></footer>
</body>
</html>
