<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Producto Buscado</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/productoBuscado.css}"/>
</head>
<body>
<header th:include="header.html" class="cabecera"></header>
<section th:include="buscador.html" class="buscador"></section>
<br>
<div class="tituloProductoBuscado">
    <h2 th:if="${error == null}">
        <span th:if="${#httpServletRequest.getParameter('categoria') != null} and ${#httpServletRequest.getParameter('subcategoria') != null} and ${#httpServletRequest.getParameter('productoAbuscar') == null}"
              th:text="'Productos de la categoría ' + ${#httpServletRequest.getParameter('categoria')} + ' y subcategoría ' + ${#httpServletRequest.getParameter('subcategoria')}"></span>
        <span th:if="${#httpServletRequest.getParameter('productoAbuscar') != null}"
              th:text="'Producto buscado: ' + ${#httpServletRequest.getParameter('productoAbuscar')}"></span>
    </h2>
    <h2 th:if="${error != null}">
    </h2>
    <div class="ordenar">
        <h2>Ordenar por precio:</h2>
        <select name="ordenar" id="ordenar">
            <option value="" selected>...</option>
            <option value="menor_a_mayor">Menor a Mayor</option>
            <option value="mayor_a_menor">Mayor a Menor</option>
        </select>
    </div>
</div>

<br>
<div class="containerProductoBuscado">
    <form id="filtro" th:action="@{/filtrar}" th:method="get">
        <div class="filter-column">
            <div class="filter-section" th:if="${descuentos != null and !descuentos.isEmpty()}">
                <h2>Descuento</h2>
                <div th:each="descuento : ${descuentos}">
                    <label><input type="checkbox" name="descuento" th:value="${descuento}"
                                  th:text="${'Descuento del ' + (100.0 - descuento * 100).intValue() + '%'}"></label>
                </div>
            </div>
            <div class="filter-section" th:if="${descuentos == null || descuentos.isEmpty()}">
                <h2>Descuento</h2>
                <div>
                    Sin descuentos.
                </div>
            </div>
            <div class="filter-section" th:if="${marcas != null and !marcas.isEmpty()}">
                <h2>Marca</h2>
                <div th:each="marca : ${marcas}">
                    <label><input type="checkbox" name="marca" th:value="${marca.idMarca}"
                                  th:text="${marca.nombre}"></label>
                </div>
            </div>
            <div class="filter-section" th:if="${marcas == null || marcas.isEmpty()}">
                <h2>Marca</h2>
                <div>
                    Sin marcas.
                </div>
            </div>
            <div class="filter-section" th:if="${supermercados != null and !supermercados.isEmpty()}">
                <h2>Supermercado</h2>
                <div th:each="supermercado : ${supermercados}">
                    <label><input type="checkbox" name="supermercado_id" th:value="${supermercado.idSupermercado}"
                                  th:text="${supermercado.nombre}"></label>
                </div>
            </div>
            <div class="filter-section" th:if="${supermercados == null || supermercados.isEmpty()}">
                <h2>Supermercado</h2>
                <div>
                    Sin supermercados.
                </div>
            </div>
            <div class="filter-section" th:if="${precios != null and !precios.isEmpty() and (precios[0] != precios[1])}">
                <h2>Precio</h2>
                <label>
                    <input type="checkbox" name="precio" th:value="'BETWEEN ' + ${precios[0]} + ' AND ' + ${precios[1]}"
                           th:text="'Entre $' + ${preciosFormateados[0]} + ' y $' + ${preciosFormateados[1]}">
                </label>
                <label>
                    <input type="checkbox" name="precio" th:value="'BETWEEN ' + ${precios[1]} + ' AND ' + ${precios[2]}"
                           th:text="'Entre $' + ${preciosFormateados[1]} + ' y $' + ${preciosFormateados[2]}">
                </label>
                <label>
                    <input type="checkbox" name="precio" th:value="'BETWEEN ' + ${precios[2]} + ' AND ' + ${precios[3]}"
                           th:text="'Entre $' + ${preciosFormateados[2]} + ' y $' + ${preciosFormateados[3]}">
                </label>
            </div>
            <div class="filter-section" th:if="${precios == null || precios.isEmpty() || (precios[0] == precios[1])}">
                <h2>Precio</h2>
                <div>
                    Sin precios.
                </div>
            </div>
        </div>
    </form>
    <div class="product-column">
        <div th:each="supermercadoProducto : ${productos}">
            <div class="product-card">
                <a th:href="@{/producto_seleccionado(id=${supermercadoProducto.producto.idProducto},idSupermercado=${supermercadoProducto.supermercado.idSupermercado})}">

                    <div class="product-image">
                        <img th:src="${supermercadoProducto.producto.urlImagen}" alt="Imagen del Producto">
                    </div>
                </a>
                <div class="product-info">
                    <div class="product-name" th:text="${supermercadoProducto.producto.nombre}"></div>
                    <div class="store-info">
                        <div class="store-name" th:text="${supermercadoProducto.producto.marca.nombre}"></div>
                        <div class="store-location" th:text="${supermercadoProducto.supermercado.ubicacion}"></div>
                        <div class="product-price">
                    <span class="product-price-center" th:if="${supermercadoProducto.descuento != null}">
                        <span class="tachado" th:text="'$' + ${supermercadoProducto.precio}"></span>
                <span class="descuento"
                      th:text="'$' + ${#numbers.formatDecimal(supermercadoProducto.descuento * supermercadoProducto.precio, 1, 2)}"></span>
                    </span>
                            <span th:if="${supermercadoProducto.descuento == null}"
                                  th:text="'$' + ${supermercadoProducto.precio}"></span>
                        </div>
                        <div class="store-logo">
                            <img th:src="${supermercadoProducto.supermercado.logo}"
                                 th:alt="${supermercadoProducto.supermercado.nombre}">
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a class="compare-button" th:href="@{/producto_seleccionado(id=${supermercadoProducto.producto.idProducto},idSupermercado=${supermercadoProducto.supermercado.idSupermercado},subcategoria=${supermercadoProducto.producto.subcategoria})}">Comparar</a>
                    <a class="add-button" th:href="@{/agregarAlCarrito(idProducto=${supermercadoProducto.getProducto().getIdProducto()},idSupemercado=${supermercadoProducto.getSupermercado().getIdSupermercado()})}">Agregar</a>
                    <a class="favorite-button btn btn-sm btn-primary" th:href="@{/agregarAFavoritos(idProducto=${supermercadoProducto.getProducto().getIdProducto()})}">
                        <i class="fa fa-heart"></i> Favoritos
                    </a>
                </div>
            </div>
            </a>
        </div>
        <p th:if="${error != null}" th:text="'>> ' +  ${error}" class="error"></p>
    </div>
</div>
<footer th:include="footer.html"></footer>
<script type="text/javascript" src="/spring/js/productoBuscado.js"></script>
</body>
</html>
