<div class="contenedor-ubicacion-mediospago">
    <div class="columna-ubicacion-mediospago">
        <h2 class="titulo-producto-seleccionado">Crear Reseña</h2>
        <form th:action="{/crearResenia}" method="post" th:object="${resenia}">
            <label for="idProducto">Nombre del usuario</label>
            <p id="idProducto" th:field="*{idProducto}" th:value="@{elegido.producto.nombre}" th:text="@{elegido.producto.nombre}"></p>
            <label for="descripcion">Descripcion</label>
            <textarea id="descripcion" rows="4" cols="50" th:field="${resenia.descripcion}" placeholder="Ingrese su comentario "> </textarea>
            <button  type="submit" class="boton-agregar-card" th:href=" @{/resenia(id=${elegido.producto.idProducto})}" >Crear</button>
        </form>
        <div class="columna-ubicacion-mediospago">
            <h2 class="titulo-producto-seleccionado">Reseñas existentes</h2>
            <ul>
                <li th:each="resenia : ${resenias}">
                    <p th:text="${resenia.idProductoReseña}"></p>
                    <p th:text="${resenia.descripcion}"></p>
                </li>
            </ul>
        </div>

    </div>

    <!--    <div class="columna-ubicacion-mediospago">-->
    <!--        <h2 class="titulo-producto-seleccionado">Reseñas</h2>-->
    <!--        <div class="medios-pago">-->
    <!--            <ul>-->
    <!--                <li th:each="${resenia}">-->

    <!--                </li>-->

    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
</div>